<%- include('partials/header') %>
<form method="POST">
  <label for="name">Nombre: </label>
  <input type="text" name="name" id="name">

  <label for="lastname">Apellido: </label>
  <input type="text" name="lastname" id="lastname">

  <input type="submit" value="Enviar">
</form>
<%- include('partials/footer') %>